<h3>Add a link</h3>

<%= render partial: "form" %>

<h4>Filter your links:</h4>

  <button id='show-unread'>Show Unread</button>
  <button id='show-read'>Show Read</button>
<h1 class="page-header"> </h1>

<% Link.all_valid? %>
<ul id="links-list" >
  <% @links.each do |link| %>
      <% if link.title %>
        <%= render partial: "links/link", :locals => {link: link} %>
      <% end %>
    <% end %>
  </ul>