<h3>Add a link</h3>

<%= render partial: "form" %>
<h1 class="page-header"> </h1>

<ul id="links-list" >
  <% @user.links.each do |link| %>
      <% if link.title %>
        <%= render partial: "link", :locals => {link: link} %>
      <% end %>
    <% end %>
  </ul>